@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-white; /* ou text-primaryText */
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@layer utilities {
  .range-slider {
    @apply appearance-none w-full h-2 rounded-lg bg-[#212936] cursor-pointer;
  }

  .range-slider::-webkit-slider-thumb {
    @apply appearance-none w-4 h-4 rounded-full bg-[#7C71FF] cursor-pointer;
    margin-top: -4px; /* centraliza na barra */
  }

  .range-slider::-moz-range-thumb {
    @apply w-4 h-4 rounded-full bg-[#7C71FF] cursor-pointer border-0;
  }

  .range-slider::-webkit-slider-runnable-track {
    @apply rounded-lg bg-[#212936] h-2;
  }

  .range-slider::-moz-range-track {
    @apply rounded-lg bg-[#212936] h-2;
  }
}